body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 100vh;
}

.display_container {
    background-color: grey;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.display {
    margin: 20px;
    font-size: 60px;
    overflow: hidden;
    white-space: nowrap;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 30%;
}

.btn {
    width: 25%;
    height: 30%;
    font-size: 25px;
}

.btn:nth-child(1) {
    background-color: #ffd1de;
}

.btn:nth-child(2) {
    background-color: #c3d6f7;
}

/*Adjust the size of buttons 1 & 2 specifically*/
.btn:nth-child(1),
.btn:nth-child(2) {
    width: 50%;

}