body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 100vh;
}

.display {
    background-color: grey;
    width: 100%;
    height: 20%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 30%;
}

.btn {
    width: 25%;
    height: 30%;
}

/*Adjust the size of buttons 1 & 2 specifically*/
.btn:nth-child(1),
.btn:nth-child(2) {
    width: 50%;
}