body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
    height: 100vh;
}

.display {
    background-color: grey;
    width: 100%;
    height: 20%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 30%;
}

.btn {
    width: 33.333%;
    height: 25%;
}